name: Pylint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip poetry
        poetry config virtualenvs.create false
        poetry install
    - name: Analysing the code with pylint
      run: |
        pylint newsplease/pipeline
    - name: Analysing the code with black
      run: |
        black --check .
    - name: Analysing the code with isort
      run: |
        isort --check-only -v .
    # - name: Full pylint
    #   run: |
    #     pylint $(git ls-files '*.py')